<!doctype html>

<html lang="sv-se">
<head>
	<meta charset="utf-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Question</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:900" rel="stylesheet">




  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
	<div class="container">
		<div class="questionContainer">
			<h1>Fråga {{ question_number }}</h1>
			<p class="ingress"> {{ question }}</p>
			<div class="quizCard questionImg">
			</div>
			<div class="answerContainer">
			<a href="{% url 'completed_page' quiz_number %}"">
			<div class="card col-sm-6 answerCard">
			<div class="ingress">
					{{ answer1 }}
			</div>
			</div>
			</a>
			<div class="card col-sm-6 answerCard">
			<div class="ingress">
					{{ answer2 }}
			</div>
			</div>
			<div class="card col-sm-6 answerCard">
			<div class="ingress">
					{{ answer3 }}
			</div>
			</div>
			<div class="card col-sm-6 answerCard">
			<div class="ingress">
					{{ answer4 }}
			</div>
			</div>
			</div>
		</div>
	</div>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>